.card {
  width: 60%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.blue-btn {
  margin-left: 50px;
}

.card-body {
  padding: 20px 0;
  border: 1px solid #79797954;
  background-color: #f2f2f2;
  text-align: left;
}

input[type=number]:before{
    content:'';
    margin-right:5px;
    color:#9d9d9d;
}

input[type=number] {
  width: 87%;
  position: relative;
}
