.my-button {
  padding: 4px 9px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background: #4966e7;
  color: white;
  font-size: 17px;
  text-align: center;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

.my-button:hover {
  background: #fff;
  color: #4966e7;
}

/*phone screen */
@media (max-width:640px) {

  #content {
    width: 100%;
    min-height: 100vh;
  }

  .list-card {
    margin-right: 7vw;
    width: 68vw;
    border: 0.5vw solid #cdcdcd;
    border-radius: 1.5vw;
  }

  .listcard-header {
    padding: 1vw;
    border: 0.5vw solid #cececee1;
    font-size: 1.5vw;
  }

  table.dataTable {
    width: 67vw;
    border: 0.5vw solid #cdcdcd;
    font-size: 0.8vw;
  }

  .sm-btn {
    padding: 0.2vw 0.5vw;
    font-size: 0.35vw;
  }

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    font-size: 1.5vw;
  }

  div.dataTables_length select {
    border: 0.3vw solid #c5c5c5;
    font-size: 1.5vw;
    border-radius: 0.5vw;
  }

  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    font-size: 1.5vw;
  }

  .dataTables_wrapper .dataTables_paginate {
    margin-top: 1.5vw;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button {
    min-width: 1.5em;
    padding: 0.2em 0.7em;
    margin-left: 1vw;
  }

  .my-button {
    padding: 1vw 1.5vw;
    box-shadow: 0 0.5vw 1vw rgb(0 0 0 / 15%);
    font-size: 1.5vw;
    border-radius: 50%;
  }

  table.dataTable thead th,
  table.dataTable thead td {
    padding: 1vw 1.5vw;
    border-bottom: 0.3vw solid #111;
  }

  table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 0.8vw 1vw;
  }

  .dataTables_wrapper .dataTables_filter input {
    padding: 0.1vw;
    border: 1px solid #c5c5c5;
    border-radius: 1vw;
  }

  .dataTables_filter,
  .dataTables_length,
  .dataTables_info,
  .dataTables_paginate {
    margin: 1vw;
  }

  .dataTables_wrapper .dataTables_info {
    text-align: left;
    clear: both;
    float: left;
    padding-top: 0.755em;
    width: 19vw;
    font-size: 1.2vw;
  }

  .dataTables_wrapper .dataTables_paginate {
    float: right;
    font-size: 1.5vw;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button {
    font-size: 1.2vw;
  }
}