.my-button {
  font-size: 17px;
  padding: 4px 9px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background: #4966e7;
  color: white;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
}

.my-button:hover {
  background: #fff;
  color: #4966e7;
}


/*---------Ipad--------------*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .my-button {
    font-size: 1.660vw;
    padding: 0.391vw 0.879vw;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    background: #4966e7;
    color: white;
    outline: none;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
  }

  .my-button:hover {
    background: #fff;
    color: #4966e7;
  }
}
