.mr-icon {
  padding: 9px 7px 10px 7px;
  background-color: #3e64ff;
  color: #fff;
  border-radius: 5px;
}

.pull-right {
  float: right;
}

.form-display {
  display: inline;
}

.searchForm {
  display: inline-block;
}

.table {
  margin-bottom: 0 !important;
}

.search-btn {
  padding: 10px 20px;
  border: none;
  background-color: #3e64ff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.import-btn {
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 7px;
  border: none;
  background-color: #3D9970;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 7px;
}

.export-btn {
  margin-bottom: 10px;
  padding: 7px;
  border: none;
  background-color: #07a6be;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 7px;
}

.sm-btn {
  display: inline;
}

input[type=date] {
  position: relative;
  width: 200px;
  margin: 10px 0;
  padding: 10px 20px;
  border: 1px solid #d1d0d0;
  text-align: right;
  border-radius: 10px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: transparent;
  color: transparent;
  cursor: pointer;
}

input[type=date]:before {
  color: #b9b7b7;
  content: attr(placeholder) !important;
}

input[type=date]:after {
  padding-left: 10px;
  color: #515151;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f073';
}

nav::before,
nav:after,
.pagination::before,
.pagination:after {
  display: table;
  clear: both;
  content: " ";
}

.pagination {
  float: right;
  margin: 10px;
}

.page-item {
  display: inline-block;
  width: 35px;
  height: 28px;
  margin-right: 4px;
  padding-top: 5px;
  background-color: #ffffff;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
}

.page-item .page-link:hover {
  width: 35px;
  height: 28px;
  background-color: #3e64ff;
  color: #fff;
  border-radius: 2px;
}

.page-link {
  padding-top: 5px;
  color: #000000;
}

.active {
  background-color: #3e64ff;
}

.disabled {
  display: none;
}

.active .page-link,
.disabled .page-link {
  color: #fff;
}

.mr-5 {
  margin: 0 5px;
}

/*phone screen */
@media (max-width:640px) {

  .list-card {
    overflow-x: scroll;
    border: 0.1vw solid #cdcdcd;
    border-radius: 0.5vw;
    font-size: 2.125vw;
    width: 100vw;
  }

  .listcard-header {
    padding: 1vw;
    border: 0.3vw solid #cececee1;
    font-size: 3.125vw;
    width: 100vw;
  }

  .table> :not(caption)>*>* {
    padding: 0.5vw 0.5vw;
    box-shadow: inset 0 0 0 1562.34375 vw var(--bs-table-accent-bg);
    background-color: var(--bs-table-bg);
  }

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    font-size: 2vw;
  }

  table.dataTable {
    width: 98%;
    border: 0.5vw solid #cdcdcd;
    font-size: 2.125vw;
  }

  .dataTables_wrapper .dataTables_info {
    text-align: left;
    clear: both;
    float: left;
    padding-top: 0.755em;
    width: 24vw;
    font-size: 2vw;
  }

  .dataTables_wrapper .dataTables_paginate {
    float: right;
    font-size: 2vw;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button {
    font-size: 1.8vw;
  }

  .dataTables_wrapper .dataTables_filter input {
    padding: 0.1vw;
    border: 0.2vw solid #c5c5c5;
    border-radius: 1vw;
  }

  div.dataTables_length select {
    border: 0.3vw solid #c5c5c5;
    font-size: 1.4vw;
    border-radius: 0.5vw;
  }

  table.dataTable thead th,
  table.dataTable thead td {
    padding: 1vw 1.5vw;
    border-bottom: 0.3vw solid #111;
  }

  .dataTables_wrapper {
    width: 100%;
  }

  table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 0.8vw 1vw;
  }

  .mr-icon {
    padding: 0.706vw 1.094vw 1.163vw 1.094vw;
    font-size: 2vw;
    border-radius: 0.681vw;
  }

  .search-btn {
    padding: 0.963vw 2.125vw;
    font-size: 2vw;
    border-radius: 1.563vw;
  }

  .import-btn {
    margin-bottom: 1.563vw;
    margin-left: 2.225vw;
    padding: 0.94vw;
    font-size: 2vw;
    border-radius: 1.094vw;
  }

  .export-btn {
    margin-bottom: 1.563vw;
    padding: 0.94vw;
    font-size: 2vw;
    border-radius: 1.094vw;
  }

  input[type=date] {
    width: 17vw;
    margin: 1.563vw 0;
    padding: 0.263vw 1.125vw;
    border: 0.3vw solid #d1d0d0;
    font-size: 2vw;
    border-radius: 1.03vw;
  }

  input[type=date]:after {
    padding-left: 2.563vw;
  }

  .container {
    width: 100vw;
    margin-right: 1vw;
    padding: 0 5%;
  }

  #content {
    width: 98%;
    min-height: 100vh;
  }

  .rounded-input {
    margin: 1.563vw 0vw 1.563vw 2.125vw;
    padding: 0.763vw 1.18vw;
    border: 0.3vw solid #d1d0d0;
    font-size: 2vw;
    border-radius: 1.263vw;
  }

  .sm-btn {
    padding: 0.1vw 1.1vw;
    font-size: 1.8vw;
  }

  .page-link {
    padding-top: 2vw;
    color: #000000;
    font-size: 2.5vw;
  }

  .page-item {
    width: 2vw;
    height: 2.6vw;
    margin-right: 0.4vw;
    padding-top: 0.5vw;
    font-size: 1.5vw;
    border-radius: 0.2vw;
  }

  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    width: 10vw;
  }

  .pagination {
    margin: 1vw;
    font-size: 0.7vw;
  }

  .page-item .page-link:hover {
    width: 2vw;
    height: 2.6vw;
    margin-right: 0.4vw;
    padding-top: 0.5vw;
    border-radius: 0.2vw;
  }



}

/*---------Ipad--------------*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mr-icon {
    padding: 0.879vw 0.684vw 0.977vw 0.684vw;
    background-color: #3e64ff;
    color: #fff;
    font-size: 1.163vw;
    border-radius: 0.488vw;
  }

  .pull-right {
    float: right;
  }

  .form-display {
    display: inline;
  }

  .searchForm {
    display: inline-block;
  }

  .table {
    margin-top: -2.67vw !important;
    margin-bottom: 0.25vw !important;
  }

  .search-btn {
    margin-right: -4.89vw;
    padding: 0.977vw 1.5vw;
    border: none;
    background-color: #3e64ff;
    color: #fff;
    font-size: 1.045vw;
    cursor: pointer;
    border-radius: 0.977vw;
  }

  .import-btn {
    margin-top: -1vw;
    margin-bottom: 4vw;
    margin-left: 10.7vw;
    padding: 0.684vw;
    border: none;
    background-color: #3D9970;
    color: #fff;
    font-size: 1.045vw;
    cursor: pointer;
    border-radius: 0.684vw;
  }

  .export-btn {
    margin-bottom: 0.977vw;
    padding: 0.684vw;
    border: none;
    background-color: #07a6be;
    color: #fff;
    font-size: 1.045vw;
    cursor: pointer;
    border-radius: 0.684vw;
  }

  .sm-btn {
    display: inline;
    font-size: 0.9vw;
  }

  input[type=date] {
    position: relative;
    width: 25%;
    margin: 0.977vw 1vw;
    padding: 0.677vw 0.34vw;
    border: 0.098vw solid #d1d0d0;
    font-size: 1.045vw;
    text-align: right;
    border-radius: 0.977vw;
  }

  input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    background: transparent;
    color: transparent;
    cursor: pointer;
  }

  input[type=date]:before {
    color: #b9b7b7;
    content: attr(placeholder) !important;
  }

  input[type=date]:after {
    padding-left: 0.977vw;
    color: #515151;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f073';
  }

  .input-group {
    width: 100%;
    padding-left: 9.45vw;
  }

  nav::before,
  nav:after,
  .pagination::before,
  .pagination:after {
    display: table;
    clear: both;
    content: " ";
  }

  .pagination {
    float: right;
    margin: 0.977vw;
  }

  .page-item {
    display: inline-block;
    width: 2vw;
    height: 2vw;
    margin-right: 0.191vw;
    padding-top: 0.488vw;
    background-color: #ffffff;
    font-size: 0.963vw;
    text-align: center;
    border-radius: 0.195vw;
  }

  .page-item .page-link:hover {
    width: 2vw;
    height: 2vw;
    margin-right: 0.191vw;
    padding-top: 0.488vw;
    border-radius: 0.195vw;
  }

  .page-link {
    padding-top: 0.488vw;
    color: #000000;
  }

  .active {
    background-color: #3e64ff;
  }

  .disabled {
    display: none;
  }

  .active .page-link,
  .disabled .page-link {
    color: #fff;
  }

  .mr-5 {
    margin: 0 0.488vw;
  }
}