.mr-icon {
  padding: 9px 7px 10px 7px;
  background-color: #3e64ff;
  color: #fff;
  border-radius: 5px;
}

.pull-right {
  float: right;
}

.form-display {
  display: inline;
}

.searchForm {
  display: inline-block;
}

.table {
  margin-bottom: 0 !important;
}

.search-btn {
  padding: 10px 20px;
  border: none;
  background-color: #3e64ff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.import-btn {
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 7px;
  border: none;
  background-color: #3D9970;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 7px;
}

.export-btn {
  margin-bottom: 10px;
  padding: 7px;
  border: none;
  background-color: #07a6be;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 7px;
}

.sm-btn{
  display: inline;
}

input[type=date] {
  margin: 10px 0;
  padding: 6px 10px;
  border: 1px solid #d1d0d0;
  text-align: right;
  border-radius: 10px;
}

input[type=date]:before {
  color: #b9b7b7;
  content: attr(placeholder) !important;
}

nav::before,
nav:after, .pagination::before,
.pagination:after {
  display: table;
  clear: both;
  content: " ";
}

.pagination {
  float: right;
  margin: 10px;
}

.page-item {
  display: inline-block;
  width: 35px;
  height: 28px;
  margin-right: 4px;
  padding-top: 5px;
  background-color: #ffffff;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
}

.page-item .page-link:hover {
  width: 35px;
  height: 28px;
  background-color: #3e64ff;
  color: #fff;
  border-radius: 2px;
}

.page-link {
  padding-top: 5px;
  color: #000000;
}

.active {
  background-color: #3e64ff;
}

.disabled {
  display: none;
}

.active .page-link,
.disabled .page-link {
  color: #fff;
}

.mr-5{
  margin: 0 5px;
}
